/**
 * Misc overrides core slick.
 */
/* Hide non-js lazy-loaded image to show <noscript> one instead, if the theme
supports no-js, otherwise IMG tag with dummy placeholder. */
.no-js .slick img.lazy {
  display: none;
}

.slick-initialized {
  overflow: visible;
}

.slick,
.slick__slide {
  position: relative;
}
